body {
    margin: 0;
    --colorValue: 40;
    background-color: rgb(var(--colorValue), var(--colorValue), var(--colorValue));
    /* background-image: url("https://cdn-icons-png.flaticon.com/256/11229/11229286.png"); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.info-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    position: relative;
    top: -1.5em;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.info-icon::before {
    content: 'i';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    /* White border */
}

.mainDisplay {
    color: white;
    min-height: 30vh;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#underlyingDiv {
    position: fixed;
    z-index: -1;
    height: 50vh;
    width: 85vw;
    --colorValue: 60;
    background: linear-gradient(to bottom, rgb(var(--colorValue), var(--colorValue), var(--colorValue)), rgba(255, 0, 0, 0));
}

#numericInput {
    border: solid 1px white;
    color: white;
    --colorValue: 20;
    background: rgb(var(--colorValue), var(--colorValue), var(--colorValue));
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 350px;
    max-width: 85vw;
    height: 50px;
    font-size: 2em;
    text-align: center;
}


#Ones,
#Twos,
#Threes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Ones div,
#Twos div,
#Threes div {
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
}

#Ones div {
    background-color: #278EA5;
}

#Twos div {
    background-color: #1F4287;
}

#Threes div {
    background-color: #071E3D;
}

.goodShot {
    border: 1px solid white;
}

#Threes>div:not([class])>div:not([class]) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}